.background{
    background-color: #E5E5E5;
    padding: 2%;
    margin: 3%;
    .titleContainer{
        display: flex;
        .firstW{
            color: #95999B;
        }
        .secondW{
            color: #636363;
            font-weight: bold;
        }

    }
    .buttonContainer{
        position: absolute;
        left: 80%;
        bottom: 63%;
        width: 100%;
        button{
            height: 35px;
            width: 15%;
            border: none;
            background-color: #F9B43D;
            display: flex;
            justify-content: space-around;
        }
    }
}